<%= link_to image_tag("daycare.png", alt: "Doggie Daycare"), '/assests/images/daycare.png' %>

<p>Welcome to the best Doggie Daycare in Louisiana!</p>

<%= link_to "Add A Dog", dogs_new_path %>
<%= link_to "Make Like A Tree and Leave Us!", controller_view_path, { :style => "text-decoration:none;" } %>
