<%= link_to image_tag("daycare.png", alt: "Doggie Daycare"), '/assests/images/daycare.png' %>

<p>You've left us :(</p>

<%= link_to "Go Back!", controller_index_path, { :style => "text-decoration:none; text-align:center;" } %>
